.products {
    display: grid;
    padding: 5rem 15rem;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.backMock {
    position: absolute;
    width: 100%;
    height: 12rem;
    background: black;
    z-index: -1;
}

@media (max-width: 1000px) {
    .products {
        padding: 5rem 5rem;
    }
}

@media (max-width: 500px) {
    .products {
        padding: 5rem 1rem;
    }
}

.productContainer {
    position: relative;
    width: 100%;
    height: 24rem;
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
}

.productContainer:hover {
    min-height: 24rem;
    height:auto;
}

.productName {
    display: block;
    width:100%;
    font-weight: bold;
    text-transform:capitalize;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.fullName {
    display: block;
    position: relative;
    width:100%;
    font-weight: bold;
    text-transform:capitalize;
}

.productDescription {
    display: block;
    height: 60%; 
    border:1px solid #eee;
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow:ellipsis;
}

.productOwner {
    display: block;
    width: 100%;
}

.productPrice {
    float:right;
}

.addToCard {
    width: 100%;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height: 2rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
}

.addToCard:hover {
    background-color: #333;
}

.paginateContainer {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 8rem;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
}


@media (max-width: 600px) {
    .paginateContainer {
        padding:0 1rem;
    }
}


:global(.pagination) a {
    color: black !important;
    z-index: 0 !important;
}

:global(.pagination) .active > a {
    background-color: black !important;
    color: white !important;
}